<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: Creating default object from empty value in /var/www/html/provisioning/index.php on line <i>73</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>359272</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='/var/www/html/provisioning/index.php' bgcolor='#eeeeec'>.../index.php<b>:</b>0</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-fatal-error' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Cannot declare class Net_SSH21, because the name is already in use in /var/www/html/provisioning/class/Net/SSH2.php on line <i>150</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>359272</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='/var/www/html/provisioning/index.php' bgcolor='#eeeeec'>.../index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0028</td><td bgcolor='#eeeeec' align='right'>505760</td><td bgcolor='#eeeeec'>soap_server->service(  )</td><td title='/var/www/html/provisioning/index.php' bgcolor='#eeeeec'>.../index.php<b>:</b>90</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.0036</td><td bgcolor='#eeeeec' align='right'>546352</td><td bgcolor='#eeeeec'>soap_server->invoke_method(  )</td><td title='/var/www/html/provisioning/lib/nusoap.php' bgcolor='#eeeeec'>.../nusoap.php<b>:</b>3718</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.0038</td><td bgcolor='#eeeeec' align='right'>553592</td><td bgcolor='#eeeeec'>Troubleshooting->get_params(  )</td><td title='/var/www/html/provisioning/lib/nusoap.php' bgcolor='#eeeeec'>.../nusoap.php<b>:</b>4087</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.0038</td><td bgcolor='#eeeeec' align='right'>554200</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'/var/www/html/provisioning/class/connection.class.php'</font> )</td><td title='/var/www/html/provisioning/class/troubleshooting.class.php' bgcolor='#eeeeec'>.../troubleshooting.class.php<b>:</b>46</td></tr>
</table></font>